<table class="table">
	<tr>
		<td>Nom & prénom</td>
		<td>Email</td>
		<td>Action</td>
	</tr>
	{% for data in liste %}
	<tr>
		<td>{{ data.nom }} {{ data.last_name }}</td>
		<td>{{ data.email }}</td>
		<td><a href="{% url 'updateCommercial' pk=data.id %}"
			class="btn btn-primary btn-sm">Modifier</a></td>
	</tr>
	{% endfor %}
</table>

<div class="col-md-12">
	<ul class="pagination">
		<!-- 
		{% if liste.has_previous %}
			<li><a href="?page={{ liste.previous_page_number }}">Precedent</a></li>
		{% endif %}
		-->
		
		
		
		
		{% for i in liste.paginator.page_range %}
		
			
			<li {% if page == i %} class="active" {% endif %}>
				<a {% if page != i %} href="?page={{ i }}" {% endif %}>{{ i }}</a>
			</li>
			
		{% endfor %}

		<!-- 
		{% if liste.has_next %}
			<li><a href="?page={{ liste.next_page_number }}">Suivant</a></li>
		{% endif %}
		 -->
	</ul>
</div>